:root {
  --black: black;
  --yellow: #ffe54c;
}

body {
  background-color: rgba(255, 255, 202, 0.719);
}

small {
  color: rgb(63, 63, 63);
}

img {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

button {
  border: 1px solid var(--black);
  background-color: rgba(0, 0, 0, 0);
}

button:after {
  background-color: var(--yellow);
}

.spinner div {
  background: var(--yellow);
}
