main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  text-align: center;
}

button {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  padding: 0.8em 1.2em;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  margin: 1em;
  width: 100%;
  max-width: 10em;
}

button:after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.4s;
}

button:hover:after {
  top: 0px;
  left: 0px;
}

small {
  font-size: 1rem;
  font-weight: bold;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.5em;
  margin-top: 1em;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 4/3;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.spinner {
  visibility: hidden;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0em 1em;
}

.spinner:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 25px solid #ffe54c;
  border-color: #ffe54c transparent #ffe54c transparent;
  animation: spinner 1.2s infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.spinner.show {
  visibility: visible;
}
